* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-mobile.png);
}
.card {
    padding: 5%;
}
.info {
    text-align: center;
    color: white;
}
h1 {
    margin-top: 10%;
}
p {
    margin-top: 10%; 
    font-weight: 400;
}

.cardvalor {
    background-color:hsl(248, 32%, 49%);
    text-align: center;
    padding: 3%;
    margin-top: 15%;
    color: white;
    border-radius: 5px 5px 5px 5px;
}

.cardvalorinfo {
    padding: 2%;
    font-weight: 400;
}

/*Formulário Personalizado*/
.formulario {
    margin-top: 5%;
    padding: 5%;
    background-color: white;
}
form {
    margin-left: 18%;
    
}

.formulario{
    border-radius: 10px;
}
.name {
    border-width:thin;
    border-radius: 5px;
    padding-right:100px;
    margin-left: -24%;
    padding-top: 5%;
    padding-left: 5%;
    padding-block-end: 5%;
}
.lastname {
    border-width:thin;
    margin-top: 5%;
    border-radius: 5px;
    padding-right:100px;
    margin-left: -24%;
    padding-top: 5%;
    padding-left: 5%;
    padding-block-end: 5%;
}
.email {
    border-width:thin;
    margin-top: 5%;
    border-radius: 5px;
    padding-right:100px;
    margin-left: -24%;
    padding-top: 5%;
    padding-left: 5%;
    padding-block-end: 5%;
}
.senha {
    border-width:thin;
    margin-top: 5%;
    border-radius: 5px;
    padding-right:100px;
    margin-left: -24%;
    padding-top: 5%;
    padding-left: 5%;
    padding-block-end: 5%;
}
button {
    text-align: center;
    margin-top: 5%;
    margin-left: -10%;
    background-color:hsl(154, 59%, 51%);
    border: none;
    padding: 10px 40px 10px 40px;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

/*Divs dos Termos*/

.terms {
    text-align: center;
    margin-top: 5%;
    font-size: 10px;
    padding: 10px 10px;
    margin-left: -22%;
}

/*Medias - Breakpoints Mobile*/

@media (min-width: 375px) {
    form {
        margin-left: 24%;
    }
    .terms {
        margin-right: 10%;
    }
}

@media (min-width: 480px) {
    form {
        margin-left: 32%;
    }
    .terms {
        margin-right: 18%;
    }
}

@media (min-width: 720px) {
    button {
        margin-right: 15%;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formulario {
        padding-right: 16%;
    }
    .terms {
        margin-right: 5%;
    }
}

@media (min-width: 768px) {
    button {
        margin-right: 15%;
    }
}
    /*Medias - Breakpoints Desktop*/

    @media (min-width: 1024px) {
        .conatiner {
            width: 100vh;
        }
        .card {
            padding-top:1%;
        }
        .info {
            margin-top: 25%;
            width: 50%;
        }
        .cardvalor {
            width: 50%;
            padding: 0%;
            margin-top: -35%;
            margin-left: 53%;
        }
        .formulario {
            width: 50%;
            margin-left: 53%;
            margin-top: 2%;
        }
        form {
            width: 100%;
            height: 100%;
        }
        .name {
            display: flex;
            flex-direction: row;
            align-self:flex-start;
            padding-right: 80%;
            margin-left: -33%;
        }
        .lastname {
            display: flex;
            flex-direction: row;
            align-self:flex-start;
            padding-right: 80%;
            margin-left: -33%;
        }
        .email {
            display: flex;
            flex-direction: row;
            align-self:flex-start;
            padding-right: 80%;
            margin-left: -33%;
        }
        .senha {
            display: flex;
            flex-direction: row;
            align-self:flex-start;
            padding-right: 80%;
            margin-left: -33%;
        }
}



